<section class="containePainelws">
	<div class="cardForm">
		<span class="title">Adicionar Jogador</span>

		<form id="createJogadorForm" class="form" data-time-id="{{idTime}}">
			<div class="group">
				<div id="subselectorContainer" class="subselector_container">
					<label for="jogadoresCadastrados">Jogador cadastrados para inclusão</label>
					{{#if jogador.length}}
					{{#each jogador}}
					<div id="{{idJogador}}" class="subselector cardJogadorSelect" data-jogador-id="{{idJogador}}">
						<div class="subselector_icon">
							<i class="ri-t-shirt-2-line"><a>{{numeroCamiseta}}</a></i>
						</div>
						<div class="subselector_content">
							<div class="subselector_name">
								<p class="subselector_nameTime">{{nomeJogador}} {{sobrenome}}</p>
							</div>
						</div>
					</div>
					{{/each}}
					{{else}}
					<p>Nenhum jogador cadastrado sem time.</p>
					{{/if}}
				</div>
			</div>

			<div class="group">
				<div id="subForm" class="jogadorselector_container">
					<label for="cadastrarNovoTime">Cadastrar novo Jogador</label>

					<div class="group">
						<input name="nomeJogador" id="nome" placeholder="" type="text" required="" />
						<label for="nomeJogador">Nome</label>
					</div>
					<div class="group">
						<input name="sobrenome" id="sobrenome" placeholder="" type="text" required="" />
						<label for="sobrenome">Sobrenome</label>
					</div>
					<div class="group">
						<input name="cpf" id="cpf" placeholder="" type="text" required="" />
						<label for="cpf">CPF</label>
					</div>
					<div class="group">
						<input name="telefone" id="telefone" type="text" placeholder="" required="" />
						<label for="telefone">Telefone</label>
					</div>

					<div class="group">
						<input name="numeroCamiseta" placeholder="" type="number" min="0" max="99" required="" />
						<label for="numeroCamiseta">Número da Camiseta</label>
					</div>

				</div>
			</div>

		</form>
		<button id="saveJogadorForm" type="submit">Adicionar</button>
	</div>
</section>