<section class="containePainelws">
	<div class="cardForm">
		<span class="title">Editar Jogador</span>

		<form id="editJogadorForm" class="form" data-time-id="{{jogador.idTime}}" data-jogador-id="{{jogador.idJogador}}">
			<div class="group">
				<input name="nomeJogador" id="nome" placeholder="" type="text" value="{{jogador.nomeJogador}}" required="" />
				<label for="nomeJogador">Nome</label>
			</div>
			<div class="group">
				<input name="sobrenome" id="sobrenome" placeholder="" type="text" value="{{jogador.sobrenome}}" required="" />
				<label for="sobrenome">Sobrenome</label>
			</div>
			<div class="group">
				<input name="cpf" id="cpf" placeholder="" type="text" value="{{jogador.cpf}}" required="" />
				<label for="cpf">CPF</label>
			</div>
			<div class="group">
				<input name="telefone" id="telefone" type="text" placeholder="" value="{{jogador.telefone}}" required=""/>
				<label for="telefone">Telefone</label>
			</div>

			<div class="group">
				<input name="numeroCamiseta" placeholder="" type="number" min="0" max="99" value="{{jogador.numeroCamiseta}}" required="" />
				<label for="numeroCamiseta">Número da Camiseta</label>
			</div>

		</form>
		<button id="saveJogadorForm" type="submit">Salvar</button>
	</div>
</section>

<!-- Scripts do formulário curso -->
<script src="/js/jogadorEdit.js"></script>