<section class="containePainelws">
		<div class="cardSeeMore">
			{{#if jogador.length}}
				<p class="cardDashboard_title">Jogadores <a id="buttonJogadorAdd" href="/painelws/time/{{times.[0].idTime}}/time/add" data-time-id="{{times.[0].idTime}}"><i class="ri-add-fill"></i></a></p>
			{{else}}
				<p class="cardDashboard_title">Jogadores <a id="buttonJogadorAdd" href="/painelws/time/0/jogador/add" data-time-id="0"><i class="ri-add-fill"></i></a></p>
			{{/if}}
			<div class="container__">
				<div id="jogadoresContainer" class="cardDashboard_container">
					{{#if jogador.length}}
						{{#each jogador}}
							<div class="cardDashboard_division" aria-current="true" data-jogador-id={{idJogador}}>
								<div class="cardDashboard_division_content">
									<div class="cardDashboard_division_text">
										<span class="cardDashboard_division_name">{{nomeJogador}} {{sobrenome}}</span>
										<p class="cardDashboard_division_username">Nº Camiseta:{{numeroCamiseta}}</p>
									</div>
									<div class="paste-button">
										<button class="painelws_Btn">
											<i class="ri-more-2-fill"></i>
											<div class="painelws_Btn_text">Opções</div>
										</button>
										<div class="dropdown-content">
											<a id="editJogador{{idJogador}}" href="/painelws/jogador/{{idJogador}}"><i class="ri-pencil-line"></i>Editar</a>
											<a id="delJogador{{idJogador}}" ><i class="ri-delete-bin-line"></i>Remover</a>
										</div>
									</div>
								</div>
							</div>
						{{/each}}
					{{else}}
						<p>Nenhum jogador disponível.</p>
					{{/if}}

				</div>
			</div>
			<a class="cardDashboard_more" href="#">Ver mais</a>
		</div>
	</section>