<section id="idPartida" data-partida-id="{{idPartida}}">
	<div class="mural">

		<div class="time01">
			<div id="logotime01" class="logotime01">
				<img id="logoTimeEsquerda" src="http://localhost:3001/public/upload/img/time/transparente.png" alt="logotime1" />
			</div>
			<p id="nomeTimeEsquerda" class="nometime01"></p>
		</div>

		<div class="score" id="counter">
			<img id="bolavolei01" class="bolavolei01" src="/img/bola.png" />
			<div class="controlTime01">
				<button id="plusTime01" class="count-button">+</button>
				<button id="minusTime01" class="count-button">-</button>
			</div>
			<div class="divPontostime">
				<span id="valueTime01" class="pontostime">00</span>
				<span id="setTimeEsquerda" class="pontostime set">0</span>
				<p class="vs">X</p>
				<span id="setTimeDireita" class="pontostime set">0</span>
				<span id="valueTime02" class="pontostime">00</span>
			</div>
			<div class="controlTime02">
				<button id="plusTime02" class="count-button">+</button>
				<button id="minusTime02" class="count-button">-</button>
			</div>
			<img id="bolavolei02" class="bolavolei02" src="/img/bola.png" />
		</div>

		<div class="time02">
			<p id="nomeTimeDireita" class="nometime02"></p>
			<div id="logotime02" class="logotime02">
				<img id="logoTimeDireita" src="http://localhost:3001/public/upload/img/time/transparente.png" alt="logotime1" />
			</div>
		</div>

	</div>
</section>

<div class="container_menu">
	<div class="tabs">
		<input type="radio" id="radio-1" name="tabs" checked="">
		<label class="tab" for="radio-1" data-target="quadradejogos"><i class="ri-team-line"></i>posições</label>
		<input type="radio" id="radio-2" name="tabs">
		<label class="tab" for="radio-2" data-target="cartoes"><i class="ri-tablet-line"></i>Cartões</label>
		<input type="radio" id="radio-3" name="tabs">
		<label class="tab" for="radio-3" data-target="substituicao"><i class="ri-arrow-up-down-line"></i>Substituição</label>
	</div>
</div>

<section id="cartoes" style="display: none;">
	<div>cartoes</div>
</section>
<section id="substituicao" style="display: none;">
	<div>subistutuição</div>
		<div class="cardDashboard2">
			{{#if campeonatos.length}}
				<p class="cardDashboard_title">Jogador <a id="buttonJogadorAdd" href="/painelws/time/{{times.[0].idTime}}/jogador/add" data-time-id="{{times.[0].idTime}}"><i class="ri-add-fill"></i></a></p>
			{{else}}
				<p class="cardDashboard_title">Jogador <a id="buttonJogadorAdd" href="/painelws/time/0/jogador/add" data-time-id="0"><i class="ri-add-fill"></i></a></p>
			{{/if}}
			<div class="container__">
				<div id="jogadoresContainer" class="cardDashboard_container">
					{{#if jogadores.length}}
						{{#each jogadores}}
							<div class="cardDashboard_division" aria-current="true" data-jogador-id={{idJogador}}>
								<div class="cardDashboard_division_content">
									<div class="cardDashboard_division_text">
										<span class="cardDashboard_division_name">{{nomeJogador}} {{sobrenome}}</span>
										<p class="cardDashboard_division_username">Nº Camiseta:{{numeroCamiseta}}</p>
									</div>
									<div class="paste-button">
										<button class="painelws_Btn">
											<i class="ri-more-2-fill"></i>
											<div class="painelws_Btn_text">Opções</div>
										</button>
										<div class="dropdown-content">
											<a id="editJogador{{idJogador}}" href="/painelws/jogador/{{idJogador}}"><i class="ri-pencil-line"></i>Editar</a>
											<a id="delJogador{{idJogador}}" ><i class="ri-delete-bin-line"></i>Remover</a>
										</div>
									</div>
								</div>
							</div>
						{{/each}}
					{{else}}
						<p>Nenhum jogador disponível.</p>
					{{/if}}

				</div>
			</div>
			<a class="cardDashboard_more" href="#">Ver mais</a>
		</div>
</section>

<section id="quadradejogos">
	<div class="quadradejogo">
		<div class="volleyball-court">
			<div class="service-area left"></div>
			<div class="service-area right"></div>
			<div class="attack-area left"></div>
			<div class="attack-area right"></div>
			<div class="attack-line left"></div>
			<div class="attack-line right"></div>
			<div class="coach-box left"></div>
			<div class="coach-box right"></div>
			<div class="coach-box left bottom"></div>
			<div class="coach-box right bottom"></div>
			<div class="baseline"></div>
			<div class="net"></div>
		</div>
		<div class="quadraVolei">
			<div class="ballplayer">
				<div class="jogadoresTime01 quadra">
				</div>
			</div>
			<div class="ballplayer">
				<div class="jogadoresTime02 quadra">
				</div>
			</div>
		</div>
	</div>
</section>
<script>
    const partidaResponse = {{{jsonPartida}}};
		const jogadoresTime1 = {{{jogadoresTime1}}};
		const jogadoresTime2 = {{{jogadoresTime2}}};
</script>
<script src="/js/subselector.js"></script>
<script src="/js/scriptJogos.js"></script>