<section id="idPartida" data-partida-id="{{idPartida}}">
	<div class="mural">

		<div class="time01">
			<div id="logotime01" class="logotime01">
				<img id="logoTimeEsquerda" src="http://localhost:3001/public/upload/img/time/transparente.png" alt="logotime1" />
			</div>
			<p id="nomeTimeEsquerda" class="nometime01"></p>
		</div>

		<div class="score" id="counter">
			<img id="bolavolei01" class="bolavolei01" src="/img/bola.png" />
			<div class="controlTime01">
				<button id="plusTime01" class="count-button">+</button>
				<button id="minusTime01" class="count-button">-</button>
			</div>
			<div class="divPontostime">
				<span id="valueTime01" class="pontostime">00</span>
				<span id="setTimeEsquerda" class="pontostime set">0</span>
				<p class="vs">X</p>
				<span id="setTimeDireita" class="pontostime set">0</span>
				<span id="valueTime02" class="pontostime">00</span>
			</div>
			<div class="controlTime02">
				<button id="plusTime02" class="count-button">+</button>
				<button id="minusTime02" class="count-button">-</button>
			</div>
			<img id="bolavolei02" class="bolavolei02" src="/img/bola.png" />
		</div>

		<div class="time02">
			<p id="nomeTimeDireita" class="nometime02"></p>
			<div id="logotime02" class="logotime02">
				<img id="logoTimeDireita" src="http://localhost:3001/public/upload/img/time/transparente.png" alt="logotime1" />
			</div>
		</div>

	</div>
</section>

<div class="container_menu">
	<div class="tabs">
		<input type="radio" id="radio-1" name="tabs" checked="">
		<label class="tab" for="radio-1" data-target="quadradejogos"><i class="ri-team-line"></i>posições</label>
		<input type="radio" id="radio-2" name="tabs">
		<label class="tab" for="radio-2" data-target="cartoes"><i class="ri-tablet-line"></i>Cartões</label>
		<input type="radio" id="radio-3" name="tabs">
		<label class="tab" for="radio-3" data-target="substituicao"><i class="ri-arrow-up-down-line"></i>substituições</label>
	</div>
</div>

<section id="cartoes" style="display: none;">
	<div class="cardPartidaCartoes">
			<div class="container__">
				<div id="cartoesContainerEsquerda" class="cardDashboard_container">
					{{#if cartoesoEsquerda.length}}
						{{#each cartoesEsquerda}}
							<div class="cardDashboard_division" aria-current="true" data-cartoes-id={{idcartoes}}>
								<div class="cardDashboard_division_content">
									<div class="cardDashboard_division_text">
										{{#is ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaCartoes">{{ponto.ptTime1}}-{{ponto.ptTime2}}</span>
										{{/is}}
										{{#isnt ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaCartoes">{{ponto.ptTime2}}-{{ponto.ptTime1}}</span>
										{{/isnt}}
										<span class="cardDashboard_division_name">{{jogadorEntrou.numeroCamiseta}}<i class="ri-arrow-up-double-line"></i></span>
										<span class="cardDashboard_division_name"><i class="ri-arrow-down-double-line"></i>{{jogadorSaiu.numeroCamiseta}}</span>
									</div>
								</div>
							</div>
						{{/each}}
					{{else}}
						<p>Nenhuma penalidade disponível.</p>
					{{/if}}

				</div>
				<div id="cartoesContainerDireita" class="cardDashboard_container">
					{{#if cartoesDireita.length}}
						{{#each cartoesDireita}}
							<div class="cardDashboard_division" aria-current="true" data-cartoes-id={{idcartoes}}>
								<div class="cardDashboard_division_content">
									<div class="cardDashboard_division_text">
										<span class="cardDashboard_division_name">{{jogadorEntrou.numeroCamiseta}}<i class="ri-arrow-up-double-line"></i></span>
										<span class="cardDashboard_division_name"><i class="ri-arrow-down-double-line"></i>{{jogadorSaiu.numeroCamiseta}}</span>
										{{#is ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaCartoes">{{ponto.ptTime1}}-{{ponto.ptTime2}}</span>
										{{/is}}
										{{#isnt ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaCartoes">{{ponto.ptTime2}}-{{ponto.ptTime1}}</span>
										{{/isnt}}
									</div>
								</div>
							</div>
						{{/each}}
					{{else}}
						<p>Nenhuma penalidade disponível.</p>
						<div class="cardDashboard_division" aria-current="true" data-cartoes-id={{idcartoes}}>
								<div class="cardDashboard_division_content">
									<div class="cardDashboard_division_text">
										<span class="cardDashboard_division_name">{{jogadorEntrou.numeroCamiseta}}04<i class="ri-smartphone-fill"></i></span>
										{{#is ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaCartoes">{{ponto.ptTime1}}-{{ponto.ptTime2}}</span>
										{{/is}}
										{{#isnt ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaCartoes">{{ponto.ptTime1}}0-{{ponto.ptTime2}}0</span>
											<span class="setPartidaCartoes">{{ponto.ptTime1}}1º Set</span>
										{{/isnt}}
									</div>
								</div>
							</div>
					{{/if}}
				</div>
				
			</div>
		</div>
</section>
<section id="substituicao" style="display: none;">
		<div class="cardPartidaSubstituicao">
			<div class="container__">
				<div id="substituicaoContainerEsquerda" class="cardDashboard_container">
					{{#if substituicaoEsquerda.length}}
						{{#each substituicaoEsquerda}}
							<div class="cardDashboard_division" aria-current="true" data-substituicao-id={{idSubstituicao}}>
								<div class="cardDashboard_division_content">
									<div class="cardDashboard_division_text">
										{{#is ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaSubstituicao">{{ponto.ptTime1}}-{{ponto.ptTime2}}</span>
										{{/is}}
										{{#isnt ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaSubstituicao">{{ponto.ptTime2}}-{{ponto.ptTime1}}</span>
										{{/isnt}}
										<span class="cardDashboard_division_name">{{jogadorEntrou.numeroCamiseta}}<i class="ri-arrow-up-double-line"></i></span>
										<span class="cardDashboard_division_name"><i class="ri-arrow-down-double-line"></i>{{jogadorSaiu.numeroCamiseta}}</span>
									</div>
								</div>
							</div>
						{{/each}}
					{{else}}
						<p>Nenhuma substituição disponível.</p>
					{{/if}}

				</div>
				<div id="substituicaoContainerDireita" class="cardDashboard_container">
					{{#if substituicaoDireita.length}}
						{{#each substituicaoDireita}}
							<div class="cardDashboard_division" aria-current="true" data-substituicao-id={{idSubstituicao}}>
								<div class="cardDashboard_division_content">
									<div class="cardDashboard_division_text">
										<span class="cardDashboard_division_name">{{jogadorEntrou.numeroCamiseta}}<i class="ri-arrow-up-double-line"></i></span>
										<span class="cardDashboard_division_name"><i class="ri-arrow-down-double-line"></i>{{jogadorSaiu.numeroCamiseta}}</span>
										{{#is ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaSubstituicao">{{ponto.ptTime1}}-{{ponto.ptTime2}}</span>
										{{/is}}
										{{#isnt ponto.ladoQuadraTime1 "Esquerda"}}
											<span class="scorePartidaSubstituicao">{{ponto.ptTime2}}-{{ponto.ptTime1}}</span>
										{{/isnt}}
									</div>
								</div>
							</div>
						{{/each}}
					{{else}}
						<p>Nenhuma substituição disponível.</p>
					{{/if}}
				</div>
				
			</div>
		</div>
</section>

<section id="quadradejogos">
	<div class="quadradejogo">
		<div class="volleyball-court">
			<div class="service-area left"></div>
			<div class="service-area right"></div>
			<div class="attack-area left"></div>
			<div class="attack-area right"></div>
			<div class="attack-line left"></div>
			<div class="attack-line right"></div>
			<div class="coach-box left"></div>
			<div class="coach-box right"></div>
			<div class="coach-box left bottom"></div>
			<div class="coach-box right bottom"></div>
			<div class="baseline"></div>
			<div class="net"></div>
		</div>
		<div class="quadraVolei">
			<div class="ballplayer">
				<div class="jogadoresTime01 quadra">
				</div>
			</div>
			<div class="ballplayer">
				<div class="jogadoresTime02 quadra">
				</div>
			</div>
		</div>
	</div>
</section>
<script>
    const partidaResponse = {{{jsonPartida}}};
		const jogadoresTime1 = {{{jogadoresTime1}}};
		const jogadoresTime2 = {{{jogadoresTime2}}};
</script>
<script src="/js/subselector.js"></script>
<script src="/js/scriptJogos.js"></script>